.carousel_container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 222px;
  z-index: 1;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid green;
  transition: all 0.3s ease-in-out;
}

.card-img {
  border-radius: 15px;
  width: 320px;
  height: 210px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--gift-bgc);
}

.gift-card[data-status="inActive"] {
  opacity: 0.5;
}

.gift-card[data-status="active"] {
  opacity: 0.5;
}
