@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./abstract/reset.css");
@import url("./abstract/font.css");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
