@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./abstract/reset.css");
@import url("./abstract/font.css");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: "#212529";
}

.button {
  border-radius: 16px;
  padding: 5px 12px;
}
