@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./abstract/reset.css");
@import url("./abstract/font.css");
@import url("./styles/footer-accordion.css");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #212529;
}

/* -------------Utilities------------ */
.button {
  border-radius: 16px;
  padding: 5px 16px;
}

.button--small {
  padding: 3px 16px;
}

/* -------------Menu Button------------ */
.hamburger {
  cursor: pointer;
  width: 22px;
  height: 18px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 16px;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 2px;
  background: #495057;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(6px);
}

.hamburger-bottom {
  transform: translateY(12px);
}

.open .hamburger-top {
  background: #868e96;
  transform: rotate(-45deg) translateY(12px);
}

.open .hamburger-bottom {
  background: #868e96;

  transform: rotate(45deg) translateX(12px);
}

.open .hamburger-middle {
  display: none;
}
